.horizontal-footer {
    background-color: rgb(33, 37, 42); /* Set background color */
    opacity: 0.9;
    overflow: hidden; /* Hide overflowing content */
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 20px;
    font-size: 17px;
    gap: 35px;
    flex-wrap: wrap;
}

.horizontal-footer.light {
    background-color: rgb(253, 253, 253); /* Light mode background color */
    color: black;
}
  
.horizontal-footer.dark {
    background-color: rgb(17, 22, 28); /* Dark mode background color */
    color: white;
  
}