.title-intro-research {
    width: 80%;
    margin-top: 75px;
}

.title-research {
    font-size: 45px;
    font-weight: bold;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.intro-research {
    font-size: 17px;
}

.research-icon {
    display: flex;
    gap: 5%;
    align-items: center;
    /* border: 0.2px solid rgba(33, 37, 42, 0.275); */
    width: 140px;
}

.research-subtitle {
    font-size: 32px;
    font-weight: bold;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
    margin-top: 25px;
    margin-bottom: 10px;
}

.research-box {
    width: 100%; /* Set your desired width */
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
  
.highlight {
    width: 8px; /* Set the width of the highlight */
    height: 100%; /* Make the highlight cover the full height of the box */
    position: absolute;
    left: 0; /* Position the highlight on the left side */
    top: 0; /* Align the highlight to the top */
}

.project-title-research {
    width: 100%;
    padding: 2px;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
    font-size: 18px;
    /* margin-top: 5px; */
    margin-left: 15px;
    /* border: 0.2px solid rgba(33, 37, 42, 0.275); */
}

.research-names {
    margin-left: 15px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}

.research-journal {
    margin-left: 15px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
}

.research-links {
    border-radius: 3px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 15px;
    margin-top: 8px;
}

.research-links.light {
    color: black;
    border: 1px solid black;
}

.research-links.dark {
    color: white;
    border: 1px solid white;
}