.container {
    display: flex;
    /* border: solid red; */
    width: 100%;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 0.7;
    padding: 20px;
    /* border: 1px solid #ccc; */
}

.title {
    font-size: 50px;
    font-weight: bold;
}