.column {
    flex: 0.5;
    padding: 20px;
    /* border: 1px solid #ccc; */
}

.title-intro {
    width: 80%;
    margin-top: 75px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.intro {
    font-size: 17px;
}

.simple-navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 5px;
}

.icon-text {
    display: flex;
    gap: 5%;
}

.proj-title {
    font-size: 35px;
    font-weight: bold;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 5%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.project-box.light {
    flex-basis: 28%;
    /* border: 1px solid #ccc; */
    margin-bottom: 1%;
    border-radius: 23px;
    padding: 15px;
    cursor: pointer;
    max-width: 275px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    flex-direction: column;
}

.project-box.light:hover {
    background-color: #faf7f7;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.project-box.dark {
    flex-basis: 28%;
    /* border: 1px solid #ccc; */
    margin-bottom: 1%;
    border-radius: 23px;
    padding: 15px;
    cursor: pointer;
    max-width: 275px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(33, 37, 42);
    flex-direction: column;
}

.project-box.dark:hover {
    background-color: rgb(23, 25, 28);
}

.project-img {
    display: flex;
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 0.2px solid rgba(33, 37, 42, 0.275);
    overflow: hidden;
    /* justify-content: center; */
}

.project-description {
    width: 250px;
    height: 69px;
    /* border: 1px solid #ccc; */
    font-size: 14px;
    /* padding: 5px; */
}

.project-title {
    width: 250px;
    height: 25px;
    padding: 2px;
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

.image {
    max-height: 175px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-container.dark {
    position: relative; /* Relative positioning for absolute positioning of close button */
    background: rgb(33, 37, 42);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 38%;
    height: 65%;
}

.modal-container.light {
    position: relative; /* Relative positioning for absolute positioning of close button */
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 38%;
    height: 65%;
}

.modal-title {
    font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.image-slot {
    display: flex;
    justify-content: center; 
}

.project-img-modal {
    margin-top: 2%;
    display: flex;
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    border: 0.2px solid rgba(33, 37, 42, 0.275);
    overflow: hidden;
}

.image-modal {
    /* max-height: 175px; */
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.617);
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.323);
    /* border: 0.2px solid rgba(33, 37, 42, 0.275); */
}

.close-button:hover {
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
    background-color: rgba(255, 0, 0, 0.543);
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tech-box {
    border-radius: 9px;
    padding: 4px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 1200px) {
    .title-intro {
        width: 100%;
    }

    /* .project-box {
        flex-basis: 42%;
    } */
}