.light .theme-toggle {
    background-color: #444245;
    color: white;
}
  
.dark .theme-toggle {
    background-color: #ffb95d;
    color: black;
}
  
.theme-toggle {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 46px;
    flex-shrink: 0;
    box-sizing: border-box;
}
  
.theme-toggle.light:hover {
    background-color: #232223;
}

.theme-toggle.dark:hover {
    background-color: #e4a551;
}

.theme-toggle:focus-visible {
    outline: 2px solid #ffb95d;
    outline-offset: 2px;
}