.light .theme-toggle {
    background-color: #444245;
    color: white;
}
  
.dark .theme-toggle {
    background-color: #ffb95d;
    color: black;
}
  
.theme-toggle {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    display: flex;
    height: 80%;
    width: 45px;
}
  
.theme-toggle.light:hover {
    background-color: #232223;
}

.theme-toggle.dark:hover {
    background-color: #e4a551;
}