:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* font-weight: 500; */
  color: #ffb95d;
  text-decoration: inherit;
  font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

a:hover {
  color: #e4a551;
}

.new-page {
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* max-width: 100%; */
  /* font-family: system-ui, ui-rounded, ui-monospace, monospace; */
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;

  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container.light{
  display: flex;
  /* border: solid red; */
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  height: 100%;
}

.container.dark{
  display: flex;
  /* border: solid red; */
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 37, 42);
  color: white;
  height: 100%
}

.column {
  flex: 0.5;
  padding: 20px;
  /* border: 1px solid #ccc; */
}

::selection {
  background-color: #ebc356c3; /* Set the background color */
  color: black; /* Set the text color */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fddd76;
  }
  button {
    background-color: #f9f9f9;
  }
}
